body {
    font-size: 100px;
    text-align: center;
    background-color: rgb(75, 182, 231);
}
.btn {
	box-shadow:inset 0px 1px 0px 0px #255ecf;
	background:linear-gradient(to bottom, #2a8bd4 5%, #1233b8 100%);
	background-color:#2a8bd4;
	border-radius:6px;
	border:1px solid #253ac2;
	display:inline-block;
	cursor:pointer;
	color:#1f9abf;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #094509;
}
.btn:hover {
	background:linear-gradient(to bottom, #1233b8 5%, #2a8bd4 100%);
	background-color:#1233b8;
}
.btn:active {
	position:relative;
	top:1px;
}
h1 {
    color: #3c0fdd;
}
